.arena {
    width: 900px;
    min-width: 900px;
    height: 600px;
    min-height: 600px;
    border-radius: 5px;
}

.game-container {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: none;
    
}

.game-button {

    margin-bottom: 20px;
}

.game-console-input {
    width: 900px;
    min-width: 900px;
    height: 30px;
    min-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: auto;
    background-color: black;
    color: white;
    border: none;
    font-weight: bolder;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.game-button-column {
    
    width: 150px;
    min-width: 150px;
    height: 600px;
    min-height: 600px;
    margin-left: 30px;
    background-color: rgb(218, 214, 214);
    border-radius: 5px;
    padding: 10px;
}

.title {
    margin-bottom: 20px;
}